@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* VARIABEL CSS */
:root {
  --header-height: 3.5rem;
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* BASE CSS DEFAULT */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.button {
  background-color: #e62517;
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .5s;
  /*Foranimationdarkmode*/:;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto
}


/* THEME */
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.dark-theme .projects__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .skills__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

.section{
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
  line-height: 140%;
}
.section__title-center{
  text-align: center;
}

.container{
  max-width: 1200px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/* HEADER */
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

/* NAVBAR */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color:darkblue;
}

.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

.active-link{
  position: relative;
  color: #ff1100;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #b81308;
}



/* HOME */
.home{
  padding: 3.5rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}

.home__img{
  width: 200px;
  justify-self: center;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
}

.home__description{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2-5);
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: #e62517;
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #e62517;
  right: -45%;
  top: 50%;
}

.home__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link{
  font-size: 1rem;
  color: #e62517;
  /* color: var(--first-color); */
  transition: .3s;
}

.home__social-link:hover{
  transform: translateX(.25rem);
}



/* BUTTON */
.button{
  display: inline-block;
  color: #FFF;
  padding: 0.8rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button__icon, .button__icon__about{
  transition: .3s;
}

.button:hover .button__icon{
  rotate: 45deg;
}

.button:hover .button__icon__about{
  rotate: -45deg;
}


.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--flex:hover {
  background-color: #850900FF;
}



/* ABOUT */
.about__container{
  row-gap: 2rem;
}

.about__img{
  width: 300px;
  justify-self: center;
}

.about__container img {
  border-radius: 10px;
}

.about__title{
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: #e62517;
  /* color: var(--first-color); */
  margin-top: .15rem;
}



/* projects */
.projects__bg{
  /* background-color: var(--first-color); */
  background-color: #000000;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.projects__container{
  gap: 2rem;
  padding-top: 1rem;
}

.projects__title{
  color: #FFF;
}

.projects__card{
  /* background-color: var(--container-color); */
  background-color: #e62517;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.projects__card-number{
  display: inline-block;
  background-color: #ececec;
  color: rgb(19, 19, 19);
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h3-font-size);
  font-weight: bold;
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.projects__card-title{
  /* font-size: var(--h3-font-size); */
  margin-bottom: var(--mb-0-5);
  color: #ececec;
}

.projects__card-description{
  font-size: var(--small-font-size);
  color: #ececec;
}

.projects__card:hover .projects__card-number{
  transform: translateY(-.25rem);
}



/* skillsS */
.skills__description{
  text-align: center;
}

.skills__container{
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.skills__card{
  display: grid;
  position: relative;
}

.skills__img{
  position: relative;
  width: 150px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
  filter: grayscale(1);
}

.skills__img:hover{
  transition: .7s;
  filter: grayscale(0);
}

.skills__title{
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.skills__title{
  margin-bottom: .25rem;
}

.skills__button{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #d12115;
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.skills__button:hover{
  background-color: black;
}

.skills__circle{
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.skills__card:hover .skills__img{
  transform: translateY(-.5rem);
}



/* QUESTIONS */
.questions{
  background-color: var(--first-color-lighten);
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}



/* CONTACT */
.contact__container{
  row-gap: 3.5rem;
}

.contact__data{
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);

  
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.contact__area{
  height: 7rem;
}

.contact__area textarea{
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}



/* FOOTER */
.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

.footer__subscribe{
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button{
  padding: 1rem;
}

.footer__data{
  width: 100%;
  display: flex;
  justify-content: space-between;
  items-align: center;
  row-gap: 1rem;
}

.footer__social{
  width: 100%;
  display: inline-flex;
  column-gap: 2.5rem;
  justify-content: center;
}

.footer__social-link{
  font-size: 2.5rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__cards{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}
.footer__card{
  width: 35px;
} 

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}




/* SCROLL UP */
.scrollup{
  position: fixed;
  background-color: #e62517;
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 1rem;
  border-radius: .30rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: #FF3526FF;
  opacity: 1;
}

.show-scroll{
  bottom: 3rem;
}



/* SCROLL BAR */
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}



/* RESPONSIVE BREAKPOINTS */
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .projects__bg{
    padding: 2rem 1rem;
  }
  .projects__card{
    padding: 1.5rem;
  }

  .skills__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }

  .footer__social{
    width: 100%;
    display: inline-flex;
    column-gap: 2rem;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .projects__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__description{
    padding: 0 4rem;
  }
  .skills__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__social{
    width: 100%;
    display: inline-flex;
    column-gap: 4rem;
    justify-content: center;
  }
  .footer__subscribe{
    width: 400px;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 10rem 0 5rem;
  }
  .home__container{
    align-items: center;
  }
  .home__img{
    width: 280px;
    order: 1;
  }
  .home__social{
    top: 30%;
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__containerr{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__social{
    width: 100%;
    display: inline-flex;
    column-gap: 6rem;
    justify-content: center;
  }
  .footer__subscribe{
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }
  .home{
    padding: 13rem 0 5rem;
  }
  .home__img{
    width: 400px;
  }
  .home__description{
    padding-right: 7rem;
  }

  .about__img{
    width: 450px;
  }

  .projects__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .projects__bg{
    padding: 3.5rem 2.5rem;
  }
  .projects__card-title{
    /* font-size: var(--normal-font-size); */
    color: white;
  }
  .projects__card h3{
    color: white;
  }

  .skills__description{
    padding: 0 16rem;
  }
  .skills__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 13rem;
  }
  .skills__img{
    width: 160px;
  }
  .skills__circle{
    width: 110px;
    height: 110px;
  }
  .skills__title{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    text-align: initial;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__containerrr{
    grid-template-columns: 1fr .5fr .5fr;
  }
  .footer__social{
    width: 100%;
    display: inline-flex;
    column-gap: 8rem;
    justify-content: center;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }
  .about__container{
    column-gap: 1rem;
  }
  .footer__social{
    width: 100%;
    display: inline-flex;
    column-gap: 10rem;
    justify-content: center;
  }
  .scrollup{
    right: 3rem;
  }
}



.about__container__button {
  display: flex;
  justify-content: end;
}



:root {
  --duration: 10s;
  --size: 80vw;
  --characters: 14;
  --font-size: 22px;
  --delay-character: 0.3s;
  --text-color-hover: #ff8489;
}

.frame {
  width: var(--size);
  height: var(--size);
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  border: 2px #fbfbfb solid;
  position: relative;
  box-shadow: inset 0 0 0 20px white;
  background: url("/assets/img/pp_remove.jpg") no-repeat center;
  background-size: cover;
  transition: ease all 0.3s;
}
.frame:hover {
  box-shadow: inset 0 0 0 0 white;
  border: 2px #f9f9f9 solid;
}
.frame:hover .text {
  mix-blend-mode: difference;
}
.frame:hover .text span {
  color: var(--text-color-hover);
}
.frame .text {
  transform: translate(calc(calc(var(--font-size) * -1) / 2), calc(calc(var(--font-size) * -1) / 2));
  position: relative;
  height: 100%;
  transition: ease all 0.3s;
}
.frame span {
  font-size: var(--font-size);
  display: inline-block;
  text-align: center;
  width: var(--font-size);
  -webkit-animation: frameMove var(--duration) linear infinite;
          animation: frameMove var(--duration) linear infinite;
  position: absolute;
  transition: ease all 0.3s;
}
.frame span:nth-of-type(1) {
  -webkit-animation-delay: calc(var(--delay-character) * 1);
          animation-delay: calc(var(--delay-character) * 1);
}
.frame span:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--delay-character) * 2);
          animation-delay: calc(var(--delay-character) * 2);
}
.frame span:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--delay-character) * 3);
          animation-delay: calc(var(--delay-character) * 3);
}
.frame span:nth-of-type(4) {
  -webkit-animation-delay: calc(var(--delay-character) * 4);
          animation-delay: calc(var(--delay-character) * 4);
}
.frame span:nth-of-type(5) {
  -webkit-animation-delay: calc(var(--delay-character) * 5);
          animation-delay: calc(var(--delay-character) * 5);
}
.frame span:nth-of-type(6) {
  -webkit-animation-delay: calc(var(--delay-character) * 6);
          animation-delay: calc(var(--delay-character) * 6);
}
.frame span:nth-of-type(7) {
  -webkit-animation-delay: calc(var(--delay-character) * 7);
          animation-delay: calc(var(--delay-character) * 7);
}
.frame span:nth-of-type(8) {
  -webkit-animation-delay: calc(var(--delay-character) * 8);
          animation-delay: calc(var(--delay-character) * 8);
}
.frame span:nth-of-type(9) {
  -webkit-animation-delay: calc(var(--delay-character) * 9);
          animation-delay: calc(var(--delay-character) * 9);
}
.frame span:nth-of-type(10) {
  -webkit-animation-delay: calc(var(--delay-character) * 10);
          animation-delay: calc(var(--delay-character) * 10);
}
.frame span:nth-of-type(11) {
  -webkit-animation-delay: calc(var(--delay-character) * 11);
          animation-delay: calc(var(--delay-character) * 11);
}
.frame span:nth-of-type(12) {
  -webkit-animation-delay: calc(var(--delay-character) * 12);
          animation-delay: calc(var(--delay-character) * 12);
}
.frame span:nth-of-type(13) {
  -webkit-animation-delay: calc(var(--delay-character) * 13);
          animation-delay: calc(var(--delay-character) * 13);
}
.frame span:nth-of-type(14) {
  -webkit-animation-delay: calc(var(--delay-character) * 14);
          animation-delay: calc(var(--delay-character) * 14);
}
.frame span:nth-of-type(15) {
  -webkit-animation-delay: calc(var(--delay-character) * 15);
          animation-delay: calc(var(--delay-character) * 15);
}
.frame span:nth-of-type(16) {
  -webkit-animation-delay: calc(var(--delay-character) * 16);
          animation-delay: calc(var(--delay-character) * 16);
}
.frame span:nth-of-type(17) {
  -webkit-animation-delay: calc(var(--delay-character) * 17);
          animation-delay: calc(var(--delay-character) * 17);
}
.frame span:nth-of-type(18) {
  -webkit-animation-delay: calc(var(--delay-character) * 18);
          animation-delay: calc(var(--delay-character) * 18);
}
.frame span:nth-of-type(19) {
  -webkit-animation-delay: calc(var(--delay-character) * 19);
          animation-delay: calc(var(--delay-character) * 19);
}
.frame span:nth-of-type(20) {
  -webkit-animation-delay: calc(var(--delay-character) * 20);
          animation-delay: calc(var(--delay-character) * 20);
}
.frame span:nth-of-type(21) {
  -webkit-animation-delay: calc(var(--delay-character) * 21);
          animation-delay: calc(var(--delay-character) * 21);
}
.frame span:nth-of-type(22) {
  -webkit-animation-delay: calc(var(--delay-character) * 22);
          animation-delay: calc(var(--delay-character) * 22);
}
.frame span:nth-of-type(23) {
  -webkit-animation-delay: calc(var(--delay-character) * 23);
          animation-delay: calc(var(--delay-character) * 23);
}
.frame span:nth-of-type(24) {
  -webkit-animation-delay: calc(var(--delay-character) * 24);
          animation-delay: calc(var(--delay-character) * 24);
}
.frame span:nth-of-type(25) {
  -webkit-animation-delay: calc(var(--delay-character) * 25);
          animation-delay: calc(var(--delay-character) * 25);
}
.frame span:nth-of-type(26) {
  -webkit-animation-delay: calc(var(--delay-character) * 26);
          animation-delay: calc(var(--delay-character) * 26);
}
.frame span:nth-of-type(27) {
  -webkit-animation-delay: calc(var(--delay-character) * 27);
          animation-delay: calc(var(--delay-character) * 27);
}
.frame span:nth-of-type(28) {
  -webkit-animation-delay: calc(var(--delay-character) * 28);
          animation-delay: calc(var(--delay-character) * 28);
}
.frame span:nth-of-type(29) {
  -webkit-animation-delay: calc(var(--delay-character) * 29);
          animation-delay: calc(var(--delay-character) * 29);
}
.frame span:nth-of-type(30) {
  -webkit-animation-delay: calc(var(--delay-character) * 30);
          animation-delay: calc(var(--delay-character) * 30);
}
.frame span:nth-of-type(31) {
  -webkit-animation-delay: calc(var(--delay-character) * 31);
          animation-delay: calc(var(--delay-character) * 31);
}
.frame span:nth-of-type(32) {
  -webkit-animation-delay: calc(var(--delay-character) * 32);
          animation-delay: calc(var(--delay-character) * 32);
}
.frame span:nth-of-type(33) {
  -webkit-animation-delay: calc(var(--delay-character) * 33);
          animation-delay: calc(var(--delay-character) * 33);
}
.frame span:nth-of-type(34) {
  -webkit-animation-delay: calc(var(--delay-character) * 34);
          animation-delay: calc(var(--delay-character) * 34);
}
.frame span:nth-of-type(35) {
  -webkit-animation-delay: calc(var(--delay-character) * 35);
          animation-delay: calc(var(--delay-character) * 35);
}
.frame span:nth-of-type(36) {
  -webkit-animation-delay: calc(var(--delay-character) * 36);
          animation-delay: calc(var(--delay-character) * 36);
}
.frame span:nth-of-type(37) {
  -webkit-animation-delay: calc(var(--delay-character) * 37);
          animation-delay: calc(var(--delay-character) * 37);
}
.frame span:nth-of-type(38) {
  -webkit-animation-delay: calc(var(--delay-character) * 38);
          animation-delay: calc(var(--delay-character) * 38);
}
.frame span:nth-of-type(39) {
  -webkit-animation-delay: calc(var(--delay-character) * 39);
          animation-delay: calc(var(--delay-character) * 39);
}
.frame span:nth-of-type(40) {
  -webkit-animation-delay: calc(var(--delay-character) * 40);
          animation-delay: calc(var(--delay-character) * 40);
}
.frame span:nth-of-type(41) {
  -webkit-animation-delay: calc(var(--delay-character) * 41);
          animation-delay: calc(var(--delay-character) * 41);
}
.frame span:nth-of-type(42) {
  -webkit-animation-delay: calc(var(--delay-character) * 42);
          animation-delay: calc(var(--delay-character) * 42);
}
.frame span:nth-of-type(43) {
  -webkit-animation-delay: calc(var(--delay-character) * 43);
          animation-delay: calc(var(--delay-character) * 43);
}
.frame span:nth-of-type(44) {
  -webkit-animation-delay: calc(var(--delay-character) * 44);
          animation-delay: calc(var(--delay-character) * 44);
}
.frame span:nth-of-type(45) {
  -webkit-animation-delay: calc(var(--delay-character) * 45);
          animation-delay: calc(var(--delay-character) * 45);
}
.frame span:nth-of-type(46) {
  -webkit-animation-delay: calc(var(--delay-character) * 46);
          animation-delay: calc(var(--delay-character) * 46);
}
.frame span:nth-of-type(47) {
  -webkit-animation-delay: calc(var(--delay-character) * 47);
          animation-delay: calc(var(--delay-character) * 47);
}
.frame span:nth-of-type(48) {
  -webkit-animation-delay: calc(var(--delay-character) * 48);
          animation-delay: calc(var(--delay-character) * 48);
}
.frame span:nth-of-type(49) {
  -webkit-animation-delay: calc(var(--delay-character) * 49);
          animation-delay: calc(var(--delay-character) * 49);
}
.frame span:nth-of-type(50) {
  -webkit-animation-delay: calc(var(--delay-character) * 50);
          animation-delay: calc(var(--delay-character) * 50);
}
.frame span:nth-of-type(51) {
  -webkit-animation-delay: calc(var(--delay-character) * 51);
          animation-delay: calc(var(--delay-character) * 51);
}
.frame span:nth-of-type(52) {
  -webkit-animation-delay: calc(var(--delay-character) * 52);
          animation-delay: calc(var(--delay-character) * 52);
}

@-webkit-keyframes frameMove {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  24% {
    top: 0;
    left: 100%;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  49% {
    top: 100%;
    left: 100%;
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  74% {
    top: 100%;
    left: 0%;
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  99% {
    top: 0%;
    left: 0%;
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes frameMove {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  24% {
    top: 0;
    left: 100%;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  49% {
    top: 100%;
    left: 100%;
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  74% {
    top: 100%;
    left: 0%;
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  99% {
    top: 0%;
    left: 0%;
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}